<footer class="footer">
    <div class="footer-titulo">Desenvolvido por</div>

    <div class="contato">
          <h3>Alysson Lopes</h3>

          <a href="https://www.facebook.com/profile.php?id=100008472224581" target="_blank" data-descr="Alysson Lopes"><div class="contato-item face"></div></a>
          <a href="https://www.instagram.com/nexusaf/" target="_blank" data-descr="Nexusaf"><div class="contato-item instagram"></div></a>
          <a href="mailto:nexus.af@gmail.com" target="_top" data-descr="nexus.af@gmail.com"><div class="contato-item at"></div></a>
          <span class="no-link" data-descr="(92) 99272-8451"><div class="contato-item wpp"></div></span>
    </div>
    <div class="contato">
          <h3>Ruan Barroso</h3>

          <a href="#" target="_blank" data-descr="Ruan Barroso"><div class="contato-item face"></div></a>
          <a href="https://www.instagram.com/ruanbarroso7/" target="_blank" data-descr="ruanbarroso7"><div class="contato-item instagram"></div></a>
          <a href="mailto:ruanx14@gmail.com" target="_blank" data-descr="ruanx14@gmail.com"><div class="contato-item at"></div></a>
          <span class="no-link" data-descr="(92) 99250-8555"><div class="contato-item wpp"></div></span>
    </div>
    <div class="contato">
       <h3>Philipe Gama</h3>

       <a href="#" target="_blank" data-descr="Philipe Gama"><div class="contato-item face"></div></a>
       <a href="https://www.instagram.com/philipe.v7/" target="_blank" data-descr="Philipe.v7"><div class="contato-item instagram"></div></a>
       <a href="mailto:Philipe@gmail.com" target="_blank" data-descr="Philipe@gmail.com"><div class="contato-item at"></div></a>
       <span class="no-link" data-descr="(00) 00000-0000"><div class="contato-item wpp"></div></span>
 </div>

    <div class="da42">&copy; Copyright ARP 2022</div>
</footer>