<div class="menu-categorias" id="categorias">
    <h4>Categorias</h4>
    <!--Container categorias-->
    <ul>
        <% for(var i=0;i<genres.length;i++){ %>
        <li><a href="/search/generos&<%=genres[i].genres%>"><%=genres[i].genres%></a></li>
        <% }%>
    </ul>
    <e><script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5249012097005531"
     crossorigin="anonymous"></script></e>
</div>
