<div class="tags" id="tags">
    <h4>Tags</h4>
    <div class="container-tags">
          <% for(var i=0;i<tags.length;i++){ %>
         <span class="tag-item"><a href="/search/tags&<%=tags[i].tags%>"><%=tags[i].tags%></a></span>
         <% }%>
     </div>
     <e><script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5249012097005531"
        crossorigin="anonymous"></script></e>
 </div>
